.color_1 > span {
  background-color: 	#fabd5b;
  border: 2px solid 	#fabd5b;
  height: 27px;
  border-radius: 4px;
  margin-bottom: 1em;
  display: block;
  height: 100%;
  border-radius: 4px;
  overflow: hidden;
  color: #fff;

}

.color_2 > span {
  background-color: #ffb866;
  border: 2px solid #ffb866;
  height: 27px;
  border-radius: 4px;
  margin-bottom: 1em;
  display: block;
  height: 100%;
  border-radius: 4px;
  overflow: hidden;
  color: #fff;
}

.color_3 > span {
  background-color: #ff9f51;
  border: 2px solid #ff9f51;
  height: 27px;
  border-radius: 4px;
  margin-bottom: 1em;
  display: block;
  height: 100%;
  border-radius: 4px;
  overflow: hidden;
  color: #fff;
}

.color_4 > span {
  background-color: #ff8741;
  border: 2px solid #ff8742;;
  height: 27px;
  border-radius: 4px;
  margin-bottom: 1em;
  display: block;
  height: 100%;
  border-radius: 4px;
  overflow: hidden;
  color: #fff;
}

.color_5 > span {
  background-color: #ec5f27;
  border: 2px solid #ec5f27;
  height: 27px;
  border-radius: 4px;
  margin-bottom: 1em;
  display: block;
  height: 100%;
  border-radius: 4px;
  overflow: hidden;
  color: #fff;
}

.color_6 > span {
  background-color: #e6671d;
  border: 2px solid #e6671d
  height: 27px;
  border-radius: 4px;
  margin-bottom: 1em;
  display: block;
  height: 100%;
  border-radius: 4px;
  overflow: hidden;
  color: #fff;
}

.color_7 > span {
  background-color:#f76f21;
  border: 1px solid #f76f21;
  height: 27px;
  border-radius: 4px;
  margin-bottom: 1em;
  display: block;
  height: 100%;
  border-radius: 4px;
  overflow: hidden;
  color: #fff;
}

.color_8 > span {
  background-color:  #f77f2f;
  border: 2px solid  #f77f2f;
  height: 27px;
  border-radius: 4px;
  margin-bottom: 1em;
  display: block;
  height: 100%;
  border-radius: 4px;
  overflow: hidden;
  color: #fff;
}


.color_9 > span{
  background-color: #f17b19;
  border: 2px solid  #f17b19;
  height: 27px;
  border-radius: 4px;
  margin-bottom: 1em;
  display: block;
  height: 100%;
  border-radius: 4px;
  overflow: hidden;
  color: #fff;
}
.color_10 > span{
  background-color:  #f17b19;
  border: 2px solid #f17b19 ;
  height: 27px;
  border-radius: 4px;
  margin-bottom: 1em;
  display: block;
  height: 100%;
  border-radius: 4px;
  overflow: hidden;
  color: #fff;
}
.color_11 > span{
  background-color: #ff811b ;
  border: 2px solid #ff811b  ;
  height: 27px;
  border-radius: 4px;
  margin-bottom: 1em;
  display: block;
  height: 100%;
  border-radius: 4px;
  overflow: hidden;
  color: #fff;
}
.color_12 > span{
  background-color: #ff761b ;
  border: 2px solid #ff761b;
  height: 27px;
  border-radius: 4px;
  margin-bottom: 1em;
  display: block;
  height: 100%;
  border-radius: 4px;
  overflow: hidden;
  color: #fff;
}
.color_13 > span{
  background-color: #fc7c13 ;
  border: 2px solid #fc7c13 ;
  height: 27px;
  border-radius: 4px;
  margin-bottom: 1em;
  display: block;
  height: 100%;
  border-radius: 4px;
  overflow: hidden;
  color: #fff;
}
/*# sourceMappingURL=style.css.map */